.joueur{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    .avatar{
        margin: auto;
    }
    .pseudoJoueur{
        width: 150px;
        height: 30px;
        margin-right: 10px;
    }
    .supprJoueur{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        height: 30px;
    }
    .nomJoueur {
        display: flex;
        margin: auto;
        img{
            width: 30px;
            height: 30px;
        }
    }
    &.elimine{
        &::before,&::after{
            content: "";
            position: absolute;
            height: 100%;
            width: 10px;
            top: 1rem;
            background-color: red;
        }
        &::before{
            left: 0;
            transform-origin: top left;
            transform: rotate(-45deg);
        }
        &::after{
            transform-origin: top right;
            right: 0;
            transform: rotate(45deg);
        }
    }
}