*{
    font-family: 'DM Sans', sans-serif;
}
body{
    width: 100%;
    background-color: gray;
}
main{
    position: relative;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #d6d6d6; 
    border-radius: 20px;
    padding-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// BASE
@import "base/mixins.scss";
@import "base/variables.scss";
@import "base/animations.scss";

// COMPONENTS
@import "components/avatar.scss";
@import "components/joueur.scss";
@import "components/switch.scss";

// LAYOUT

@import "layout/header.scss";

// PAGE
@import "page/home.scss";
@import "page/game.scss";

// FONT
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

